.parent {
	height: 800px;
	width: 100%;
}
.left {
	height: 100%;
	width: 33.3%;
	background-color: #4a90e2;
	position: relative;
	float: left;
}
.center {
	height: 100%;
	width: 33.3%;
	background-color: #50e3c2;
	position: relative;
	float: left;
}
.right { 
	height: 100%;
	width: 33.4%;
	position: relative;
	float: right;
	}
.blah {
		height: 80%;
		width: 100%;
		background-color: #b8e986;
	}
.test {
	height: 20%;
	width: 100%;
	background-color: red;
	text-align: center;
	line-height: 170px;
	font-family: sans-serif;
	}